<div class="blog-card">
  <div class="description">
    <h1>{{worker.Name}}</h1>
    <hr>
    <label>User Name:</label>
    <label>{{worker.UserName}}</label>
    <br>
    <label>Email:</label>
    <label>{{worker.EMail}}</label>
    <br>
    <label>Status:</label>
    <label>{{status}}</label>
    <br>
  </div>
  <button class="button col-md-offset-4 col-md-3" (click)="openWorkerDeatails(worker)">show details</button>
</div> 
<!-- <div class="blog-card">
  <div class="description">
    <h3>{{worker.Name}}</h3>
    <hr class="colorgraph">
    <dl>

      <dt class="col-md-4">User Name:</dt>
      <dd class="col-md-8">{{worker.UserName}}&nbsp;</dd>

      <dt class="col-md-4">Email:</dt>
      <dd class="col-md-8">{{worker.EMail}}&nbsp;</dd>

      <dt class="col-md-4">Status:</dt>
      <dd class="col-md-8">{{worker.EMail}}&nbsp;</dd>

    </dl>

    <button class="button col-md-offset-4 col-md-4" (click)="openWorkerDeatails(worker)">show details</button>
  </div>-->